.video_edit {font-size: 16px;}

.video_del {font-size: 18px;}

.w_1 {width: 1vw;}

.w_2 {width: 10vw;}

.w_3 {width: 3vw;}

.w_3 button {width: 34px;}

.w_3 .video_show, .w_3 .video_edit {margin-bottom: 3px;}

#lession_add {margin-right: 15px; float: right;}