* {padding: 0; margin: 0;}

@font-face {
	font-family: 'SourceHanSansCN Medium'; 
	src: url('./font_file/SourceHanSansCN-Medium.otf') format('otf');
	}

.mui-title {text-align: left;}

#header {height: 8vh; background-color: #fdd315; padding-top: 0.9vh;}
	
#back {font-size: 22px; color:#000;}

#header_title { font-size: 4vw; font-weight: bold; width: 88vw; }

#add_notice { position: absolute; right: 5.6vw; }

.mui-content { padding:0; margin-top: 1vw;background-color: #fff; }/*margin-top: 1vw;黄色头部紧挨着的下面的内容区之间的缝隙*/

.inline_div {display: inline-block;}

.option img { width:6.2vw; }

.notice_title { font-size: 3.83vw; font-weight: bold; color: #39383a; }

.notice_head { font-size: 2.67vw; font-weight: bold; color: #585858; }

.notice_info { font-size: 2.84vw; font-weight: bold; color: #39383a; }

.notice_list { position:relative; padding-left: 4vw;}

.span_head_time { margin-left: 4vw; }

.img_hr { width: 100vw; height: 1px; position: absolute; z-index:20;}

.right_div { width: 80%; padding: 12px 0 2px 0; }

.right_div p { margin-bottom: 2px; }

.notice_head_p {  margin-top:-2px; }

.option.inline_div { position: absolute; right: 5.5vw; top: 3.4vh; }

.notice_edit { margin-right: 4vw; }