<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">

    <title>动态配乐模板下载_精美好看的配乐模板大全_咚遇配乐</title>
    <meta name="keywords"
          content="咚遇配乐分类页">
    <meta name="description"
          content="咚遇配乐包含各个行业精品配乐模板，如工作总结、工作汇报、述职报告、答辩、简历、计划、培训、婚庆等等，下载精美好看的动态配乐模板就到咚遇配乐配乐">
    <link rel="stylesheet"
          href="__FRONT_STATIC__/common20191223.css">

    <link rel="stylesheet"
          href="__FRONT_STATIC__/audio20190522.css">


    <link rel="stylesheet"
          href="__FRONT_STATIC__/cateso20191127.css">
</head>
<body data-ext-version="3.1"
      style="">
<!--统一蒙版-->
<div id="mengcheng"></div>
<div id="login">
    <div class="close logincolse"></div>

</div>


<div class="headercatage">
    <div class="header">
        <div class="navs wlimit">
            <a class="logo"
               alt="咚遇配乐"
               href="/"><img
                    src="__FRONT_STATIC__/collect.png"
                    alt="咚遇配乐"></a>
            <div class="allfenl">


                <div id="searchdiv">
                    <div class="search c-search"
                         id="cd-search-float">
                        <div class="search-box">
                            <div class="searchtype">
                                <span>配乐</span>
                                <em></em>
                                <i></i>
                            </div>
                            <ul id="typedown">
                                <li class="allkid9"
                                    style="display:none;">
                                    <a kid="9"
                                       href="javascript:;">配乐</a>
                                </li>

                                <li class="allkid8">
                                    <a kid="8"
                                       href="javascript:;">音效</a>
                                </li>

                            </ul>
                            <input id="keyword-float"
                                   isfont="0"
                                   type="text"
                                   key-type="9"
                                   value=""
                                   autocomplete="off"
                                   name="search"
                                   class="i-search"
                                   placeholder="搜索配乐素材">

                        </div>
                        <a class="s-niu search-btn"
                           href="javascript:;"
                           key-type="9"><em></em></a>
                        <div id="dropdown-box-float"
                             class="hot-search"
                             style="display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--中部的东西-->


<div class="crumbs wlimit">
    <a target="_blank"
       href="https://www.tukuppt.com/">咚遇配乐</a>
    <span>&gt;</span>
    <a href="https://www.tukuppt.com/peiyue/">配乐</a>
</div>
<div class="type wlimit">
    <div class="f-type">
        <div class="uli">
            <a class="f-chose"
               key-type="9"
               href="https://www.tukuppt.com/peiyue/">配乐</a>
            <a class=""
               key-type="8"
               href="https://www.tukuppt.com/yinxiao/">音效</a>

        </div>
    </div>
    <div class="type1">
        <div class="all-type">
            场景：
        </div>
        <div class="uli">
            <a class="current"
               href="https://www.tukuppt.com/peiyue/">全部</a>
            <a href="https://www.tukuppt.com/peiyue/m105/">情绪场景</a>
            <a href="https://www.tukuppt.com/peiyue/m106/">影视配乐</a>
            <a href="https://www.tukuppt.com/peiyue/m107/">乐曲曲风</a>
            <a href="https://www.tukuppt.com/peiyue/m108/">婚礼音乐</a>
            <a href="https://www.tukuppt.com/peiyue/m109/">游戏配乐</a>
            <a href="https://www.tukuppt.com/peiyue/m110/">其他</a>
        </div>
        <div class="gengduo"
             style="display: none;">
            更多<i></i>
        </div>
    </div>
    <div class="type1">
        <div class="all-type">
            风格：
        </div>
        <div class="uli">
            <a class="current"
               href="https://www.tukuppt.com/peiyue/">全部</a>
            <a href="https://www.tukuppt.com/peiyue/j114/">安静</a>
            <a href="https://www.tukuppt.com/peiyue/j115/">轻快</a>
            <a href="https://www.tukuppt.com/peiyue/j116/">浪漫</a>
            <a href="https://www.tukuppt.com/peiyue/j117/">进取</a>
            <a href="https://www.tukuppt.com/peiyue/j118/">悬念</a>
            <a href="https://www.tukuppt.com/peiyue/j119/">悲伤</a>
            <a href="https://www.tukuppt.com/peiyue/j120/">紧张</a>
            <a href="https://www.tukuppt.com/peiyue/j121/">史诗</a>
            <a href="https://www.tukuppt.com/peiyue/j122/">恐怖</a>
            <a href="https://www.tukuppt.com/peiyue/j123/">片头片尾</a>
            <a href="https://www.tukuppt.com/peiyue/j124/">电子</a>
            <a href="https://www.tukuppt.com/peiyue/j125/">爵士</a>
            <a href="https://www.tukuppt.com/peiyue/j126/">钢琴</a>
            <a href="https://www.tukuppt.com/peiyue/j134/">古典</a>
            <a href="https://www.tukuppt.com/peiyue/j127/">节奏感</a>
            <a href="https://www.tukuppt.com/peiyue/j128/">中国风</a>
            <a href="https://www.tukuppt.com/peiyue/j129/">摇滚</a>
            <a href="https://www.tukuppt.com/peiyue/j130/">放克</a>
            <a href="https://www.tukuppt.com/peiyue/j131/">打击乐</a>
            <a href="https://www.tukuppt.com/peiyue/j132/">流行</a>
            <a href="https://www.tukuppt.com/peiyue/j133/">其他</a>
        </div>
        <div class="gengduo"
             style="">
            更多<i></i>
        </div>
    </div>
</div>

<div class="hot-topic">
    <div class="wlimit">
        <a rel="nofollow"
           class="sort chose"
           href="https://www.tukuppt.com/peiyue/">综合排序</a>
        <a rel="nofollow"
           class="sort "
           href="https://www.tukuppt.com/peiyue/dnum_0_0_0_0_0_0_1.html">热门下载</a>
        <a rel="nofollow"
           class="sort "
           href="https://www.tukuppt.com/peiyue/time_0_0_0_0_0_0_1.html">最新上传</a>


    </div>
</div>

<div class="t-box wlimit ">
    <div class="b-box">
        <dl data-id="ljwnermm"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/ljwnermm.html">轻快的背景音配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/ljwnermm.html"
                   class="down"><i></i>下载</a>
                <a pid="ljwnermm"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="165">
                <source src="//img.tukuppt.com/newpreview_music/09/00/99/5c89b225eed2d10864.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:45</span>

        </dl>
        <dl data-id="lbpkdzbx"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lbpkdzbx.html">轻松欢乐的乌克丽丽和口哨声组成的快乐素材</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lbpkdzbx.html"
                   class="down"><i></i>下载</a>
                <a pid="lbpkdzbx"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="66">
                <source src="//img.tukuppt.com/newpreview_music/09/01/78/5c8a0fe145e5f74471.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:06</span>

        </dl>
        <dl data-id="lergepxg"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lergepxg.html">轻松温暖感人背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lergepxg.html"
                   class="down"><i></i>下载</a>
                <a pid="lergepxg"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="123">
                <source src="//img.tukuppt.com/newpreview_music/09/01/62/5c89fd22dea6948307.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:03</span>

        </dl>
        <dl data-id="qrgpdaav"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qrgpdaav.html">进取激昂的背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qrgpdaav.html"
                   class="down"><i></i>下载</a>
                <a pid="qrgpdaav"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="335">
                <source src="//img.tukuppt.com/newpreview_music/09/01/81/5c8a123eed0c282139.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">05:35</span>

        </dl>
        <dl data-id="lrgpombr"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lrgpombr.html">日系小清新的动漫配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lrgpombr.html"
                   class="down"><i></i>下载</a>
                <a pid="lrgpombr"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="267">
                <source src="//img.tukuppt.com/newpreview_music/09/01/11/5c89c1613141851225.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">04:27</span>

        </dl>
        <dl data-id="lwpodgdm"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lwpodgdm.html">卡通搞笑尴尬气氛配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lwpodgdm.html"
                   class="down"><i></i>下载</a>
                <a pid="lwpodgdm"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="91">
                <source src="//img.tukuppt.com/newpreview_music/08/99/35/5c89671fb5c9a21220.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:31</span>

        </dl>
        <dl data-id="lnyzwvoa"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lnyzwvoa.html">活轻快泼俏皮背景音乐配乐潜鸟</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lnyzwvoa.html"
                   class="down"><i></i>下载</a>
                <a pid="lnyzwvoa"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="133">
                <source src="//img.tukuppt.com/newpreview_music/09/01/08/5c89bdd76ce4c90921.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:13</span>

        </dl>
        <dl data-id="qwporaee"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qwporaee.html">令人心情愉悦的轻音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qwporaee.html"
                   class="down"><i></i>下载</a>
                <a pid="qwporaee"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="219">
                <source src="//img.tukuppt.com/newpreview_music/09/00/94/5c89ac4ce85cb74039.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:39</span>

        </dl>
        <dl data-id="lyjdrwpn"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lyjdrwpn.html">快乐世界尤克里里音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lyjdrwpn.html"
                   class="down"><i></i>下载</a>
                <a pid="lyjdrwpn"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="131">
                <source src="//img.tukuppt.com/newpreview_music/09/01/28/5c89d54c4c9b042281.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:11</span>

        </dl>
        <dl data-id="qzmrdjea"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qzmrdjea.html">明亮的觉醒，充满正能量的励志背景素材音</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qzmrdjea.html"
                   class="down"><i></i>下载</a>
                <a pid="qzmrdjea"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="167">
                <source src="//img.tukuppt.com/newpreview_music/09/01/76/5c8a0d8734bba35139.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:47</span>

            <p class="timeTip"></p>
        </dl>
        <dl data-id="qdrgzvvn"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qdrgzvvn.html">搞笑逗比默默抱怨场景配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qdrgzvvn.html"
                   class="down"><i></i>下载</a>
                <a pid="qdrgzvvn"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="95">
                <source src="//img.tukuppt.com/newpreview_music/09/01/10/5c89c0307e14a87944.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:35</span>

        </dl>
        <dl data-id="qyjdgoop"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qyjdgoop.html">欢快的日系搞笑配乐这是御宅族的生存</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qyjdgoop.html"
                   class="down"><i></i>下载</a>
                <a pid="qyjdgoop"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="96">
                <source src="//img.tukuppt.com/newpreview_music/09/01/04/5c89b92677f7162369.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:36</span>

        </dl>
        <dl data-id="qwpovwvx"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qwpovwvx.html">企业宣传片
                    希望未来</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qwpovwvx.html"
                   class="down"><i></i>下载</a>
                <a pid="qwpovwvx"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="233">
                <source src="//img.tukuppt.com/newpreview_music/09/01/67/5c8a030232b1f46998.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:53</span>

        </dl>
        <dl data-id="loedvdkr"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/loedvdkr.html">正能量积极向上宣传片背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/loedvdkr.html"
                   class="down"><i></i>下载</a>
                <a pid="loedvdkr"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="156">
                <source src="//img.tukuppt.com/newpreview_music/09/01/68/5c8a04293cf394278.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:36</span>

        </dl>
        <dl data-id="lpepjoyd"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lpepjoyd.html">安静舒缓怀念色彩的背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lpepjoyd.html"
                   class="down"><i></i>下载</a>
                <a pid="lpepjoyd"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="215">
                <source src="//img.tukuppt.com/newpreview_music/09/01/96/5c8a23d4239e332055.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:35</span>

        </dl>
        <dl data-id="qergakbn"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qergakbn.html">准备出发时鼓舞人心的配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qergakbn.html"
                   class="down"><i></i>下载</a>
                <a pid="qergakbn"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="181">
                <source src="//img.tukuppt.com/newpreview_music/08/99/33/5c8963a3dede660598.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:01</span>

        </dl>
        <dl data-id="loedmxvz"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/loedmxvz.html">温暖感动的一个阳光午后</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/loedmxvz.html"
                   class="down"><i></i>下载</a>
                <a pid="loedmxvz"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="234">
                <source src="//img.tukuppt.com/newpreview_music/09/00/89/5c89a7985845a49317.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:54</span>

        </dl>
        <dl data-id="lrgpeggv"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lrgpeggv.html">年会颁奖公司突破片头上场背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lrgpeggv.html"
                   class="down"><i></i>下载</a>
                <a pid="lrgpeggv"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="78">
                <source src="//img.tukuppt.com/newpreview_music/08/99/26/5c895b6db9ae323407.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:18</span>

        </dl>
        <dl data-id="lrgpodak"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lrgpodak.html">轻音乐小清新纯正音符</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lrgpodak.html"
                   class="down"><i></i>下载</a>
                <a pid="lrgpodak"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="93">
                <source src="//img.tukuppt.com/newpreview_music/09/01/52/5c89f045777b158282.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:33</span>

        </dl>
        <dl data-id="lmnowgeb"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lmnowgeb.html">一段优美的旋律背景音</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lmnowgeb.html"
                   class="down"><i></i>下载</a>
                <a pid="lmnowgeb"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="207">
                <source src="//img.tukuppt.com/newpreview_music/09/00/95/5c89ae9e6746b55589.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:27</span>

        </dl>
        <dl data-id="qnyzwred"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qnyzwred.html">轻松愉快的早晨音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qnyzwred.html"
                   class="down"><i></i>下载</a>
                <a pid="qnyzwred"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="79">
                <source src="//img.tukuppt.com/newpreview_music/09/01/12/5c89c286a419960786.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:19</span>

        </dl>
        <dl data-id="loednzjp"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/loednzjp.html">永远的希望进取的企业宣传配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/loednzjp.html"
                   class="down"><i></i>下载</a>
                <a pid="loednzjp"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="70">
                <source src="//img.tukuppt.com/newpreview_music/09/01/26/5c89d2f58ed6b14290.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:10</span>

        </dl>
        <dl data-id="loedvxkr"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/loedvxkr.html">活泼可爱的综艺节目背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/loedvxkr.html"
                   class="down"><i></i>下载</a>
                <a pid="loedvxkr"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="210">
                <source src="//img.tukuppt.com/newpreview_music/09/01/85/5c8a1818ddcb736180.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:30</span>

        </dl>
        <dl data-id="qbpkmxdj"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qbpkmxdj.html">搞笑而又欢快的二胡演奏的小视频配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qbpkmxdj.html"
                   class="down"><i></i>下载</a>
                <a pid="qbpkmxdj"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="55">
                <source src="//img.tukuppt.com/newpreview_music/09/01/13/5c89c28f494ae77598.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">00:55</span>

        </dl>
        <dl data-id="lzmredbr"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lzmredbr.html">我的旅行欢快节拍轻快配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lzmredbr.html"
                   class="down"><i></i>下载</a>
                <a pid="lzmredbr"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="234">
                <source src="//img.tukuppt.com/newpreview_music/09/01/50/5c89ef14f30fe27456.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:54</span>

        </dl>
        <dl data-id="lyjdkjpj"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lyjdkjpj.html">战争一触及的紧张背景配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lyjdkjpj.html"
                   class="down"><i></i>下载</a>
                <a pid="lyjdkjpj"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="104">
                <source src="//img.tukuppt.com/newpreview_music/08/99/26/5c895b70519cc14106.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:44</span>

        </dl>
        <dl data-id="qgameazw"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qgameazw.html">片头叙事宣传纪录片温情背景配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qgameazw.html"
                   class="down"><i></i>下载</a>
                <a pid="qgameazw"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="326">
                <source src="//img.tukuppt.com/newpreview_music/08/99/27/5c895c9973d6255415.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">05:26</span>

        </dl>
        <dl data-id="lergdxrg"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lergdxrg.html">可爱欢快的小提琴曲</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lergdxrg.html"
                   class="down"><i></i>下载</a>
                <a pid="lergdxrg"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="125">
                <source src="//img.tukuppt.com/newpreview_music/09/01/11/5c89c0389968591664.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:05</span>

        </dl>
        <dl data-id="qzmrexvp"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qzmrexvp.html">安静抒情感人的幻灯片背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qzmrexvp.html"
                   class="down"><i></i>下载</a>
                <a pid="qzmrexvp"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="145">
                <source src="//img.tukuppt.com/newpreview_music/09/01/37/5c89dfd79b54c57009.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:25</span>

        </dl>
        <dl data-id="qpepjgrr"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qpepjgrr.html">节奏轻快柔和婚礼背景配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qpepjgrr.html"
                   class="down"><i></i>下载</a>
                <a pid="qpepjgrr"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="185">
                <source src="//img.tukuppt.com/newpreview_music/09/01/65/5c89ff8220c652651.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:05</span>

        </dl>
        <dl data-id="lyjdkpwm"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lyjdkpwm.html">恬静夏日午后温暖轻松背景配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lyjdkpwm.html"
                   class="down"><i></i>下载</a>
                <a pid="lyjdkpwm"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="150">
                <source src="//img.tukuppt.com/newpreview_music/08/99/29/5c895ef38a8db57800.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:30</span>

        </dl>
        <dl data-id="qkyjgxxj"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qkyjgxxj.html">光明和充满希望的未来配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qkyjgxxj.html"
                   class="down"><i></i>下载</a>
                <a pid="qkyjgxxj"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="77">
                <source src="//img.tukuppt.com/newpreview_music/09/00/92/5c89a9f32171333573.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">01:17</span>

        </dl>
        <dl data-id="lpepnake"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lpepnake.html">逗比恶搞搞笑背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lpepnake.html"
                   class="down"><i></i>下载</a>
                <a pid="lpepnake"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="210">
                <source src="//img.tukuppt.com/newpreview_music/09/01/37/5c89dfd8cba4267969.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">03:30</span>

        </dl>
        <dl data-id="lnyzpomr"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lnyzpomr.html">欢乐节奏感欢快舒畅视频背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lnyzpomr.html"
                   class="down"><i></i>下载</a>
                <a pid="lnyzpomr"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="131">
                <source src="//img.tukuppt.com/newpreview_music/09/01/75/5c8a0c5c2700f84610.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:11</span>

        </dl>
        <dl data-id="ljwneazk"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/ljwneazk.html">史诗般震撼大气的背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/ljwneazk.html"
                   class="down"><i></i>下载</a>
                <a pid="ljwneazk"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="321">
                <source src="//img.tukuppt.com/newpreview_music/09/00/94/5c89ad6e0718228204.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">05:21</span>

        </dl>
        <dl data-id="lnyzwomw"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lnyzwomw.html">燃烧紧张大气的人物出场背景音</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lnyzwomw.html"
                   class="down"><i></i>下载</a>
                <a pid="lnyzwomw"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="148">
                <source src="//img.tukuppt.com/newpreview_music/09/01/26/5c89d2f0a38c255918.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:28</span>

        </dl>
        <dl data-id="qxxzbxer"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qxxzbxer.html">欢快的活泼快节奏演奏片头广告背景配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qxxzbxer.html"
                   class="down"><i></i>下载</a>
                <a pid="qxxzbxer"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="32">
                <source src="//img.tukuppt.com/newpreview_music/08/99/27/5c895dbfca76a18535.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">00:32</span>

        </dl>
        <dl data-id="qbpkoeaz"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/qbpkoeaz.html">震撼大气的颁奖典礼背景音</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/qbpkoeaz.html"
                   class="down"><i></i>下载</a>
                <a pid="qbpkoeaz"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="174">
                <source src="//img.tukuppt.com/newpreview_music/09/00/90/5c89a8c2d9ace90125.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:54</span>

        </dl>
        <dl data-id="lergdaon"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lergdaon.html">充满希望大气磅礴会议颁奖背景音乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lergdaon.html"
                   class="down"><i></i>下载</a>
                <a pid="lergdaon"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="147">
                <source src="//img.tukuppt.com/newpreview_music/09/01/37/5c89dfda69c8f48851.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:27</span>

        </dl>
        <dl data-id="lpepawye"
            class="cbox audio-box ">
            <i class="icon-bofang"></i>
            <dt class="info">
                <a class="title"
                   target="_blank"
                   href="https://www.tukuppt.com/muban/lpepawye.html">节奏欢快且有点小甜蜜配乐</a>
                <a target="_blank"
                   href="https://www.tukuppt.com/muban/lpepawye.html"
                   class="down"><i></i>下载</a>
                <a pid="lpepawye"
                   class="collect b-collect "
                   isfrom="3"
                   issc="0"></a>
            </dt>
            <audio preload="none"
                   id="audio850995"
                   data-time="125">
                <source src="//img.tukuppt.com/newpreview_music/08/99/33/5c89639fd847090914.mp3"
                        type="audio/mpeg">
            </audio>
            <span class="star-time">00:00</span>
            <div class="time-bar">
                <span class="progressBar"></span>
                <i class="move-color"></i>
                <p class="timetip"></p>
            </div>
            <span class="end-time">02:05</span>

        </dl>
    </div>
</div>

<div class="clear"></div>


<div class="page">
    <div class="wlimit">
        <div class="pagenew">
            <div class="pageinfo">
                <span class="cur">1</span><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_2.html">2</a><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_3.html">3</a><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_4.html">4</a><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_5.html">5</a><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_6.html">6</a><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_7.html">7</a><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_8.html">8</a><span
                    class="ell">...</span><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_99.html">99</a><a
                    href="https://www.tukuppt.com/peiyue/zonghe_0_0_0_0_0_0_2.html">下一页</a>
            </div>
        </div>
    </div>
</div>

<script src="__FRONT_STATIC__/jquery-1.7.1.min.js"></script>
<script src="__FRONT_STATIC__/audio.js"></script>

<!--尾部按键-->
<div class="footer">
    <span class="tukuppt-right">资源来自互联网，如有侵权，联系删除</span>
</div>


</body>
</html>