{extend name="template/base" /}

{block name="style"}
	<link rel="stylesheet" type="text/css" href="/static/index/css/stu_page.css"/>
{/block}

{block name="content"}
	<div class="mui-content">
		<div id='head'>
			<div id='head_name'>体感互动教学管理系统</div>
			<div id='info_div'>
				<img src='/static/index/images/h.png'>
				<div>
					<span id='teacher'>张三</span>
					<br>
					<span id='college'>体育学院</span>
				</div>
			</div>
		</div><!--id="head" 结束-->
		<div id='notice'>
			<span id='show_notice'>同安h随风倒随风倒沙发沙发色发射点发生风倒沙发沙发色发风倒沙发沙发色发风倒沙发沙发色发身</span>
		</div>
		<div id='content'>
			<div id='lession_type' class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<div class="mui-scroll">
					{if isset($lession)}
					{volist name='list' id='v' key='k'}
						<a class="mui-control-item {if $k==1}mui-active{/if}">{$v}</a>
					{/volist}
					{else /} <span id='no_video'>暂无课程信息~</span>
					{/if}
				</div>
			</div><!--横向滚动 结束-->

			<div id='video_list'>
				{if isset($videos)}
				{volist name='videos' id='v'}
					<div class='video'><span class='activity'>{$v.video_name}</span></div>
				{/volist}
				{/if}
			</div><!--id='video_list' 结束 -->
		</div><!--id='content' 结束-->
	</div>
{/block}
{block name="foot"}{/block}
{block name="script"}
	<script type="text/javascript">
		var ws = null;
		var stu_grade = "{$stu_grade}"; //年级
		var stu_class = "{$stu_class}"; //班级
		var stu_num = "{$stu_num}"; //学生号
		var stu_name = "{$stu_name}"; //学生姓名
		var type = "{$type}"; //类型（1 表示学生）
		var address = "{$ip}";//训练终端的ip
		
		var stu_data = '' + address + '_' + stu_num + '_' + stu_name + '_' + type + '_' + stu_grade + '_' + stu_class; //组装要发送的数据
	
		window.onload = connect(); //页面加载完成执行connect()
		
		//建立socket连接
		function connect ()
		{
			let socket_ip = 'ws://' + address + ':1822';
			
			ws=new WebSocket( socket_ip );
			
	        ws.onopen=function(e){
				ws.send('');//先发个空串 否则对方收不到
				ws.send(stu_data);
	        };
	        
	        ws.onmessage=function(e){
	           console.log(e.data);
	        };
	        
	        ws.onerror=function(e){
	           console.log(e);
	        };
	        
	        ws.onclose=function(e){
	            console.log('连接已关闭');
	        };
		}

		//点击通知的 显示学生的通知页面
		$('#show_notice').click(function () {
			mui.toast('aaaa', { duration:'short', type:'div' }) ;
			window.location.href = '/index/notice/index?type=stu';
		})
	</script>
{/block}