{extend name="template/base" /}

{block name="style"}
	<link rel="stylesheet" type="text/css" href="/static/index/css/cartoon.css"/>
{/block}

{block name="content"}
	<header id='head' class="mui-bar mui-bar-nav">
	    <h1 class="mui-title">标准动画</h1>
	</header>
	<div class="mui-content">
		<button type="button" class="mui-btn mui-btn-outlined cartoon_link_btn" url='/xx/xx/xx' >网球动画</button>
		<button type="button" class="mui-btn mui-btn-outlined cartoon_link_btn" url='/xx/xx/xx' >舞蹈动画</button>
	</div>
{/block}

{block name="script"}
	<script type="text/javascript">		
		$('#home_page').attr('src', '/static/index/images/front.png');
		$('#video_page').attr('src', '/static/index/images/video.png');
		$('#cartoon_page').attr('src', '/static/index/images/cartoon_active.png');
		
		//给所有video 绑定点击后才播放的事件
		$(document).on('click', '.cartoon_link_btn', function (e) {
			let url = $(this).attr('url');
			window.location.href = url;
		})//video 点击播放结束
		
	</script>
{/block}