{extend name="template/base" /}

{block name="style"}
	<!--<link rel="stylesheet" type="text/css" href="/static/admin/mui/css/mui.picker.min.css"/>
	<script type="text/javascript" href="/static/admin/mui/js/mui.picker.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="/static/index/css/head.css"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/score.css"/>
{/block}

{block name="content"}
	<style>.mui-toast-container { bottom:85% !important;}</style>
	<header id='header' class="mui-bar mui-bar-nav">
	    <a id='back' class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 id='header_title' class="mui-title">学生成绩</h1>
	</header>

	<div class="mui-content">
		{if isset($have_score)}
		<div id='select_div'>
			<select id='stu_year' class="select1">
				<option value="0" selected="selected">年级</option>
            </select>
            <select id='stu_class' class="select1">
            	<option value="0" selected="selected">班级</option>
            </select>
            <select id='lession' class="select1">
            	<option value="0" selected="selected">课程</option>
            </select>
            <select id='activity' class="select2">
            	<option value="0" selected="selected">动作</option>
            </select>
            <button id='search' type="button" class="mui-btn mui-btn-outlined" data-loading-text="查询中...">查  询</button>
		</div><!--id='select_div' 结束-->
		<div id='stu_list'></div><!--id='stu_list' 列表结束-->
		<div style='height: 18vw;clear:both;'></div><!--此元素用来撑起来页面内容区  避免foot遮挡内容-->
		{else /}<div style='text-align: center;font-size: 4vw; color: #666;'>暂无学生成绩数据~</div>
		{/if}
	</div><!--class="mui-content" 结束-->
	<!--弹出层  开始-->
	<div id="popover" class="mui-popover mui-scroll"><!--弹出层1 显示某学生的某个动作的信息--> 
		<div id='score_detail'>
			<div id='score_info'>
				<span id='close_pop1' class="mui-icon mui-icon-closeempty"></span>
				<table></table>
			</div>
			<div id='activitys'><!--每个动作的10个训练记录数据-->
				<table></table>
			</div><!--每个动作的10个训练记录数据  结束-->
			<video id='stu_video'></video><!--播放学生训练视频 点击列表播放按钮后显示-->
			<!--提交指导建议的弹窗 -->
			<div id='add_advise'>
				<table>
					<tr><td colspan="2" class='td_title'>指导建议</td></tr>
					<tr>
						<td colspan="2" style='height:35vw;border-bottom:1px solid #e7e7e7;'><textarea id='advise_txt' placeholder='请点击输入指导建议'></textarea></td>
					</tr>
					<tr class='td_btn'>
						<td style='border-right:1px solid #e7e7e7;' id='cancel'>取消</td>
						<td id='sbmt'>提交</td>
					</tr>
				</table>
			</div>
			<!--提交指导建议的弹窗 结束-->
		</div>		
	</div>
	<!--弹出层  结束-->
	<style>
	/*弹出层1 样式   ：写在score.css文件中不生效*/
	#popover { top: 45px !important; left: 0 !important; position:fixed; width: 100vw;}
	#score_detail { height:85vh; overflow:scroll;
		padding: 0 0 1.5vw 0; /*margin: 0 auto; left: 2vw; position: absolute;*/}
	.mui-popover-arrow { display:none; }
	/*弹出层1 样式 结束*/
	</style>
{/block}

{block name="script"}
	<script type="text/javascript">
		$('#home_page').attr('src', '/static/index/images/front.png');
		$('#video_page').attr('src', '/static/index/images/video.png');
		$('#cartoon_page').attr('src', '/static/index/images/cartoon.png');
		
		var year_e = $('#stu_year'); //年级选项
		var lession_e = $('#lession'); //课程选项
		var class_e = $('#stu_class'); //班级选项
		var act_e = $('#activity'); //动作选项
		
		//页面4个下拉框的点击事件，每次点击就加载alldata表中的对应字段，作为option选项
		$('#select_div').on('click', 'select', function (e) {
			
			let opt = e.target.attributes.id.value;//每个select的id值			
			let field = null; //要查询的字段，即option选项对应的字段
			let opt_str = '';//要写入下拉框的option字符串
			let opt_name = '';//每个下拉框的第一个提示选项
			let t = $(e.target);//将当前元素转为jquery对象
			let other_field = ''; //选择班级或动作时，提交的年级或课程选项
			
			switch(opt) {
			    case 'stu_year':
			        field = 'grade';
			        opt_name = '年级';
			        break;
			    case 'stu_class':
			        field = 'class';
			        other_field = year_e.val();//加载班级选项时 如果已选择年级，则仅加载此年级的班级选项
			        opt_name = '班级';
			        break;
			    case 'lession':
			        field = 'lesson';
			        opt_name = '课程';
			        break;
			    case 'activity':
			        field = 'activity';
			        other_field = lession_e.val();//加载动作选项时 如果已选择课程，则仅加载此课程的动作选项
			        opt_name = '动作';
			        break;
			}
			
			$.ajax({
				type:"post",
				url:"/index/score/get_select_data",
				data:{
					param: field,
					other: other_field,
				},
				dataType:'json',
				success: function (info){
					if (info.code == 200)
					{
						opt_str += '<option value="0" selected="selected">'	+ opt_name  +'</option>';
						
						for(let i=0; i<info.data.length; i++)
						{
							opt_str += '<option value="'
									+ info.data[i] + '">'
									+ info.data[i] + '</option>';
						}
						
						t.html(opt_str);
						
					}else if(info.code == 100){
						mui.toast(info.msg, { duration:'short', type:'div'});
					}
				},
				error: function (){
					mui.toast('网络异常~', { duration:'short', type:'div'});
				}
			});//ajax 结束
			
		})//页面4个下拉框的点击事件 结束
		
		//查询按钮 点击事件
		var stu_list_e = $('#stu_list');//查询到的数据 append到此元素中
		
		$('#search').click(function () {
			
			if ( year_e.val() === '0' && lession_e.val() === '0' && class_e.val() === '0' && act_e.val() === '0' )
			{
				mui.toast('请至少选择一个选项~', { duration:'short', type:'div'});
				return;
			}
			
			mui('#search').button('loading');//切换为loading状态
			
			$.ajax({
				type:"post",
				url:"/index/score/get_student_data",
				data:{
					grade: year_e.val(),
					clas: class_e.val(),
					lesson: lession_e.val(),
					activity: act_e.val()
				},
				dataType:'json',
				success: function (info){
					//把查询选项存起来，当上拉加载是需要读取这4个值
					localStorage.setItem('grade', year_e.val());
					localStorage.setItem('clas', class_e.val());
					localStorage.setItem('lesson', lession_e.val());
					localStorage.setItem('activity', act_e.val());
					
					let str = '';//组装的字符串
					
					if (info.code == 200)
					{
						let num = info.data.length;
						
						for(let i=0; i<num; i++)
						{
							str += "<div class='res_list' param='"
								+ info.data[i].stu_num + "|" + info.data[i].lesson + "|" +  info.data[i].activity +
								"'><div class='info_div'><span class='stu_name'>"
								+ info.data[i].stu_name +
								"</span><br><span class='stu_info'>"
								+ info.data[i].grade + "/" + info.data[i].class + "/" + info.data[i].lesson + "/" + info.data[i].activity  +
								"</span></div><span class='mui-icon mui-icon-forward'></span></div>";
						}
						
						stu_list_e.html(str);
						mui('#search').button('reset');//恢复为原始状态
						not_up = 1;
						
					}else if(info.code == 100){
						mui('#search').button('reset');//恢复为原始状态
						mui.toast(info.msg, { duration:'short', type:'div'});
					}
				},
				error: function (){
					mui.toast('网络异常~', { duration:'short', type:'div'});
				}
			});//ajax 结束
			
		})//查询按钮 点击事件 结束
		
		//上拉加载 更多学生数据
		var data_per_pull = 0; //每次上拉加载的数据条数
		var not_up = 0; //如果点击页面的一个通知显示详情后 将此值变为0（即：在弹窗中禁用swipeup）,点击查询按钮后此值变为1
		
		document.addEventListener("swipeup", function (event) {
			
			if ( not_up == 0 ){ return; } //在页面弹出层里 禁用swipeup
			
			//上拉加载,读取查询选项这4个值
			let grade = localStorage.getItem('grade');
			let clas = localStorage.getItem('clas');
			let lesson = localStorage.getItem('lesson');
			let activity = localStorage.getItem('activity');
			
			data_per_pull += 10;//每次加载10条 后期改为10条
			
			$.ajax({
				url: '/index/score/get_student_data',
				type: 'post',
				dataType: 'json',
				data: {
					start: data_per_pull,
					grade: grade,
					clas: clas,
					lesson: lesson,
					activity: activity
				},
				success: function (info) {
					if (info.code == 200)
					{
						let stu_str = '';
						
						let num = info.data.length;
						
						for(let i=0; i<num; i++)
						{
							stu_str += "<div class='res_list' param='"
								+ info.data[i].stu_num + "|" + info.data[i].lesson + "|" +  info.data[i].activity +
								"'><div class='info_div'><span class='stu_name'>"
								+ info.data[i].stu_name +
								"</span><br><span class='stu_info'>"
								+ info.data[i].grade + "/" + info.data[i].class + "/" + info.data[i].lesson + "/" + info.data[i].activity  +
								"</span></div><span class='mui-icon mui-icon-forward'></span></div>";
						}
						
						stu_list_e.append(stu_str);
						
					}else if (info.code == 100)
					{
						mui.toast('没有更多数据了~',{ duration:'short', type:'div' });
					}
				},
				error: function () {
					mui.toast('网络异常，请重试~',{ duration:'short', type:'div' });
				},
			})//ajax结束
		});
		//上拉加载---------------结束
	
		//点击每条记录后弹出此记录最新10条
		var activity_list = $('#activitys table');//往此元素里append学生的最新10条训练记录
		
		stu_list_e.on('click', '.res_list', function (e) {
			let p = $(this).attr('param');//此条数据对应的学号 课程 动作
			//ajax 加载此条记录所属学生相同动作的最新10条记录
			$.ajax({
				url: '/index/score/get_10_item',
				type: 'post',
				data: {param: p},
				dataType: 'json',
				success:function (info) {
					if (info.code == 200)
					{
						//先显示弹出层 头部的姓名 年级 班级 课程 动作
						let stu_str = '';
						
						stu_str += "<tr><td><span class='info_name'>姓名:</span><span class='info_data'>"
								+ info.data[0].stu_name  + 
								"</span></td><td><span class='info_name'>年级:</span><span class='info_data'>"
								+ info.data[0].grade +
								"</span></td><td><span class='info_name'>班级:</span><span class='info_data'>"
								+ info.data[0].class +
								"</span></td></tr><tr><td><span class='info_name'>课程:</span><span class='info_data'>"
								+ info.data[0].lesson +
								"</span></td><td colspan='2' class='info_name'><span>动作:</span><span class='info_data'>"
								+ info.data[0].activity + "</span></td></tr>";
								
						$('#score_info table').html(stu_str);
						//再显示最新10条训练记录
						let str = '';
						let num = info.data.length;
						
						str += "<tr class='info_title'><td>序号</td><td>时间</td><td>成绩</td><td></td>	</tr>";//10个动作的表格的表头
						
						for(let i=0; i<num; i++)
						{
							let advice = '';
							
							if (info.data[i].advice)
							{
								advice = info.data[i].advice;
							}
							
							str += "<tr class='info_detail'><td>"
								+ (i+1) + "</td><td>"
								+ info.data[i].time + "</td><td>"
								+ info.data[i].score + "</td><td><img video_url='"
								+ info.student_video_ip + info.data[i].video +
								"' class='play' style='margin-right: 6vw' src='/static/index/images/play.png'><img class='advise' src='/static/index/images/advise.png' aid='"
								+ info.data[i].id + "' advice='"
								+ advice + "'></td></tr>";
						}
						
						activity_list.html(str);
						mui('#popover').popover('show');//弹出某学生10个训练记录
					}else if (info.code == 100)
					{
						mui.toast(info.msg, {duration:'short', type:'div' });
					}
				},
				error:function (info) {
					mui.toast('网络异常，请重试~',{duration:'short', type:'div' });
				}
			})
			
			not_up = 0;//在弹窗中 禁用swipeup
		})
		//点击每条记录后弹出此记录的详情 结束
		
		var stu_video_e = $('#stu_video');
		//关闭第一次弹窗
		$('#close_pop1').click(function () {
			mui('#popover').popover('hide');
			not_up = 1; //启用页面的上拉加载
		})
		
		//学生数据列表的播放、建议2个图标的点击事件
		
		$('#activitys').on('click', '.play', function() {
			mui.toast('校园网内才能播放~', { duration:'short', type:'div' });
			let video_url = $(this).attr('video_url');
			stu_video_e.attr('src', video_url).css('display', 'block');
			stu_video_e[0].play();
		})
		
		//显示及提交指导建议的事件
		var add_advis_e = $('#add_advise');//指导建议的弹窗
		var advis_txt = $('#advise_txt');//指导建议的输入框
		var sbmt = $('#sbmt');//指导建议  提交按钮
		var aid = ''; //要添加指导建议的的那条记录的id
		var advice_str = ''; //一条记录的指导建议
		var activitys_e = $('#activitys'); //多条训练记录的父元素
		
		activitys_e.on('click', '.advise', function() {
			add_advis_e.css('display', 'block');
			aid = $(this).attr('aid');			
			advice_str = $(this).attr('advice');	
			advis_txt.val(advice_str);			
		})
		
		//点击指导建议的取消按钮 
		$('#cancel').click('click', function () {
			add_advis_e.css('display', 'none');
			advis_txt.val('');
		})
		
		//点击指导建议的提交按钮 
		sbmt.click('click', function () {
			let v = $.trim(advis_txt.val());
			
			if (v.length ==0)
			{
				mui.toast('请输入指导建议~',{duration:'short', type:'div' }); return;
			}
			
			$.ajax({
				url: '/index/score/add_advice',
				type: 'post',
				data: {advice: v, id:aid},
				dataType: 'json',
				success: function (info) {
					if (info.code == 200)
					{
						mui.toast('提交成功~', {duration:'short', type:'div' });
						activitys_e.find('img[aid="'+ aid +'"]').attr('advice', v);//把提交的建议赋值给此条记录
						add_advis_e.css('display', 'none');
						advis_txt.val('');
					}else if (info.code == 100)
					{
						mui.toast('提交失败, 请再次提交~', {duration:'short', type:'div' });
					}
					
				},
				error: function () {
					mui.toast('网络异常，请重新提交~', {duration:'short', type:'div' });
				}
			})
			
		})
		
		//video标签的事件监听
		stu_video_e[0].addEventListener ('pause', function () {
			stu_video_e.css('display', 'none');//暂停时
		});
		
		stu_video_e[0].addEventListener ('ended', function () {
			stu_video_e.css('display', 'none');//播放完毕
		});
		
		stu_video_e[0].addEventListener ('stalled', function () {
			stu_video_e.css('display', 'none');//尝试获取媒体数据失败
		});		
	</script>
{/block}