{extend name="template/base" /}

{block name="style"}
	<link rel="stylesheet" type="text/css" href="/static/index/css/head.css"/>
	<link rel="stylesheet" type="text/css" href="/static/index/css/add_notice.css"/>
{/block}

{block name="content"}
	<header id='header' class="mui-bar mui-bar-nav">
	    <a id='back' class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 id='header_title' class="mui-title">编辑通知公告</h1>
	</header>
	<div class="mui-content">
		{if isset($msg)}<div id='not_get_notice' nid='{$id}' style='font-size: 4vw; text-align: center;'>读取通知失败~<br><span style='color:#888'>点击屏幕刷新</span></div>
		<script>
			document.addEventListener("tap", function () {
				let nid = $('#not_get_notice').attr('nid');
				window.location.href = '/index/notice/get_edit/id/' + nid;
			})
		</script>		
		{else /}
		<div>
			<span class='title_cont'>标题</span>
			<textarea  id='title' cols="" rows="" placeholder="请点击输入通知公告标题: 5~20字">{$title}</textarea>
		</div>
		<div>
			<span class='title_cont'>内容</span>
			<textarea  id='content' cols=""  rows=""  placeholder="请点击输入通知公告内容: 10~150字">{$content}</textarea>
		</div>
		<img id='pub_btn' src='/static/index/images/pub.png' nid='{$id}'>
		{/if}
	</div>
{/block}

{block name="script"}
	<script type="text/javascript">		
		$('#home_page').attr('src', '/static/index/images/front.png');
		$('#video_page').attr('src', '/static/index/images/video.png');
		$('#cartoon_page').attr('src', '/static/index/images/cartoon.png');
		
		var title_e = $('#title'); //标题
		var content_e = $('#content'); //内容
		
		$('#pub_btn').on('click', function () {
			let v1 =  $.trim( title_e.val() );
			let v2 =  $.trim( content_e.val() );
			let nid = $(this).attr('nid');//被编辑的通知的id
			
			let msg = '';
			
			if ( v1.length < 5 || v1.length > 20 )
			{
				msg += '标题应为5~20字！';
			}
			
			if ( v2.length < 10 || v2.length > 150 )
			{
				msg += '内容应为10~150字！';
			}
			
			if ( msg !== '' )
			{
				mui.toast(msg, { duration:'short', type:'div' });
				return;
			}
			
			$.ajax({
				url: '/index/notice/edit',
				type: 'post',
				dataType: 'json',
				data: { id: nid, title: v1, content: v2 },
				success: function (info) {
					mui.toast(info.msg, { duration:'short', type:'div' });
					
					if( info.code == 200 )
					{
						setTimeout(function(){ window.location.href="/index/notice/index"} , 1000);
					}
				},
				error: function (info) {
					mui.toast('网络异常，请重新提交~', { duration:'short', type:'div' }) ;
				},
			})
			
		})//编辑按钮 点击事件 结束
	</script>
{/block}