{extend name="template/base" /}

{block name="style"}
	<link rel="stylesheet" type="text/css" href="/static/index/css/notice.css"/>
{/block}

{block name="content"}
	<header id='header' class="mui-bar mui-bar-nav">
	    <a id='back' class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 id='header_title' class="mui-title">通知公告<span id='add_notice'><a href="/index/notice/add_page">发布</a></span></h1>
	</header>
	<div id='mui_content' class="mui-content">
		{if $notice==1}
		{volist name="list" id="vo"}
			<div class='notice_list'>
				<a class='notice_list_a' url='/index/notice/index/id/{$vo.id}'>
					<span class="notice_title">{$vo.title}</span>
					<br>
					<span  class="notice_head_p"><span class="notice_head">发布人：</span><span class="notice_info">{$vo.adder}</span><span class="notice_head span_head_time">发布时间：</span><span class="notice_info">{$vo.time}</span></span>
				</a>
				<img class='notice_edit' src='/static/index/images/notice_edit.png' nid='{$vo.id}'>
				<img class='notice_del' src='/static/index/images/notice_del.png' nid='{$vo.id}'>
			</div>
			<img class='img_hr' src='/static/index/images/line.png'>
		{/volist}
		{else /}<div style='text-align:center;color:#666'>暂无通知公告</div>
		{/if}
	</div>
	<div style='height: 20vw;'></div><!--此元素用来撑起来页面内容区  避免foot遮挡内容-->                                  
	<div id="popover" class="mui-popover mui-scroll"><!--弹出层元素 用来显示通知公告详情-->   
		<div id='notice_detail'>
			<div>
				<span id='detail_t'>标题标题标题标题标题标题标题标题标题标题标题</span><br>
				<span class='detail_info' id='detail_add'>李老师</span><span class='detail_info' id='detail_time'>2020-08-28 12:12</span>
			</div>
			<div id='detail_content'>
				点击通知 在页面中弹层中显示通知详情结束,点击通知 在页面,点击通知 在页面中弹层中显示通知详点击通知 在页面中弹层中显示通知详情结束,点击通知 在页面点击haha
			</div>
		</div>
	</div>
	<style>
	/*通知详情弹窗样式*/
	#popover { top:150px !important; left: 0 !important; position:fixed;}
	#notice_detail {	position: absolute;	background-color: #fff;	left: 2vw;
		width: 96vw;	max-height:90vw; margin: 0 auto; overflow:scroll; 
		padding: 1.5vw; border-radius: 3px;}
	.mui-popover-arrow {display:none;}
	/*通知详情弹窗样式 结束*/
	/*学生身份的 通知列表样式*/
	/*如果 是学生身份
	.notice_list_a { width: 90vw; } .notice_edit, .notice_del, #add_notice { display:none;} */
	/*学生身份的 通知列表样式 结束*/
	</style>
	<!--弹出层元素 结束-->                                  
{/block}

{block name="script"}
	<script type="text/javascript">		
		$('#home_page').attr('src', '/static/index/images/front.png');
		$('#video_page').attr('src', '/static/index/images/video.png');
		$('#cartoon_page').attr('src', '/static/index/images/cartoon.png');
		
		//上拉加载---------------
		var mui_content = $('#mui_content');
		var data_per_pull = 0; //每次上拉加载的数据条数
		var html_str = ''; //待组装要插入的html
		var not_up = 1; //如果点击页面的一个通知显示详情后 将此值变为0（即：在弹窗中禁用swipeup）

		document.addEventListener("swipeup", function (event) {

			if ( not_up == 0 ){ return; } //在页面弹出层里 禁用swipeup
			
			data_per_pull += 2;
			
			$.ajax({
				url: '/index/notice/index',
				type: 'post',
				dataType: 'json',
				data: {start: data_per_pull},
				success: function (info) {
					if (info.code == 200)
					{
						let n = info.data.length;
						
						for (let i = 0; i < n; i++ )
						{
							html_str += "<div class='notice_list'><a class='notice_list_a' url='/index/notice/index/id/"
								+ info.data[i].id +
								"'><span class='notice_title'>" 
								+ info.data[i].title +
								"</span><br><span  class='notice_head_p'><span class='notice_head'>发布人：</span><span class='notice_info'>"
								+ info.data[i].adder +
								"</span><span class='notice_head span_head_time'>发布时间：</span><span class='notice_info'>"
								+ info.data[i].time +
								"</span></span></a><img class='notice_edit' src='/static/index/images/notice_edit.png' nid='"
								+ info.data[i].id +
								"'><img class='notice_del' src='/static/index/images/notice_del.png' nid='"
								+ info.data[i].id +
								"'></div><img class='img_hr' src='/static/index/images/line.png'>";
						}
							
						mui_content.append(html_str);						
					}else if (info.code == 100)
					{
						mui.toast('没有更多通知了~',{ duration:'short', type:'div' });
					}
				},
				error: function () {
					mui.toast('网络异常，请重试~',{ duration:'short', type:'div' });
				},
			})//ajax结束
		});
		//上拉加载---------------结束
		
		$('#mui_content').on('click', '.notice_edit', function () {
			let t = $(this);
			let nid = t.attr('nid');
			
			mui.confirm('确认修改此通知？', '提示', ['确定', '取消'], 
				function(e) {
                    if (e.index == 0)
                    {
  						window.location.href = '/index/notice/get_edit/id/' + nid;
                    }
				}	
			) ;
		})//编辑结束
		
		$('#mui_content').on('click', '.notice_del', function () {
			let t = $(this);
			let nid = t.attr('nid');
	
			mui.confirm('确认删除此通知？', '提示', ['确定', '取消'], 
				function(e) {
                    if (e.index == 0)
                    {
                    	//执行删除
                    	$.ajax({
                    		url: '/index/notice/delete',
                    		type: 'post',
                    		data: {id: nid},
                    		dataType: 'json',
                    		success: function (info) {
                    			if(info.code == 200)
                    			{
                    				t.parent().remove();
                    				mui.toast(info.msg, { duration:'short', type:'div' });                    				
                    			}else if (info.code == 100){
                    				mui.toast(info.msg, { duration:'short', type:'div' });
                    			}
                    		},
                    		error: function (info) {
                    			mui.toast('网络异常~', { duration:'short', type:'div' });
                    		},
                    	})//ajax 结束
                    }
				}	
			) ;
		})//删除结束
		
		var notice_detail = $('#notice_detail');
		
		$('#mui_content').on('click', 'a', function () {
			let url = $(this).attr('url');
			//获取a标签对应的通知内容
			$.ajax({
				url: url,
				type: 'post',
				dataType: 'json',
				success: function (info) {
					if (info.code == 200)
					{
						$('#detail_t').html(info.data.title);
						$('#detail_add').html(info.data.adder);
						$('#detail_time').html(info.data.time);
						$('#detail_content').html(info.data.content);
					}else if(info.code == 100)
					{
						mui.toast(info.msg, { duration:'short', type:'div' });
					}
				},
				error: function () {
					mui.toast('网络异常~', { duration:'short', type:'div' });
				}
			})
			//notice_detail.html('显示通知详情结束,详情结束,haha')
			mui('.mui-popover').popover('toggle', document.getElementById("popover"));
			not_up = 0; //在弹窗中禁用swipeup
		})//点击通知 在页面中弹层中显示通知详情结束
		
		$(document).on('click', '.mui-backdrop', function(){
			not_up = 1; //在弹窗中启用swipeup
		})
	</script>
{/block}