{extend name="template/base" /}

{block name="style"}
	<link rel="stylesheet" type="text/css" href="/static/index/css/front.css"/>
{/block}

{block name="content"}
	<div class="mui-content">
		<div id='head'>
			<div id='head_name'>体感互动教学管理系统</div>
			<div id='info_div'>
				<img src='/static/index/images/h.png'>
				<div>
					<span id='teacher'>李老师</span>
					<br>
					<span id='college'>体育学院</span>
				</div>
			</div>
		</div><!--id="head" 结束-->
		<div id='notice'>
			<span>同安h随风倒随风倒沙发沙发色发射点发生风倒沙发沙发色发风倒沙发沙发色发风倒沙发沙发色发身</span>
		</div>
		<div id='content'>
			<a href='/index/notice/index'><img src='/static/index/images/notice.png'></a><a href='/index/score/index'><img src='/static/index/images/score.png'></a><a href='/index/calcute/index'><img src='/static/index/images/cal.png'></a><a href='http://192.138.8.249/index/memory/index'><img src='/static/index/images/mem.png'></a>
		</div>
	</div>
{/block}

{block name="script"}
	<script type="text/javascript">		
		$('#home_page').attr('src', '/static/index/images/front.png');
		$('#video_page').attr('src', '/static/index/images/video_active.png');
		$('#cartoon_page').attr('src', '/static/index/images/cartoon.png');
	</script>
{/block}