* {padding: 0; margin: 0;}

#select_div { padding: 3vw 3vw 2vw 3vw; }

#select_div select { border: 1px solid #fdd315 !important; color:#888; padding:5px 15px; margin-bottom:5px;
	background-image: url('../images/sel_down.png'); background-repeat: no-repeat;
	font-size: 3.4vw; margin-top: 0;}

#select_div .select1 { width: 29.7vw; margin-left: 0.35vw; 
	background-position: 96% 54%; background-size: 3vw; }

#select_div .select2 { width: 61vw; margin-left: 0.35vw; 
	background-position: 98% 54%; background-size: 3vw; }
	
#search	{ height: 33px; background-color: #fdd315; width: 29.7vw; border: 1px solid #fdd315; margin-left: 0.2vw; }
	
.res_list { display: flex; align-items: center; padding: 2vw 3vw 2vw 4vw;
	border-bottom: 1px solid #ebebeb; background-color: #fff; }

.res_list .info_div { width: 90vw; }

.stu_name { font-size: 4vw; font-weight: bold; color: #39383a; }

.stu_info { font-size: 3.3vw; font-weight: bold; color: #585858; }

#stu_list {margin-top: -1vw;}

#stu_list .mui-icon-forward { color: #585858;}

/*学生数据弹出层的样式*/
#score_detail {background-color: #f5f5f5; }

.mui-icon-closeempty { color: #000; font-weight: bold;
	font-size: 8vw; background-color: #fdd315; border-radius: 50%;
	position: relative; top: 2vw; left: 89vw; }/*弹出层 关闭按钮的样式*/
	
#score_info table { margin: 0 auto; width: 95vw; }

#score_info tr { height: 9vw; }

#score_info td { width: 32vw; }

#score_info .info_name {font-size: 3.5vw; font-weight: bold; color:#6c6c6c;}

#score_info .info_data {font-size: 4vw; font-weight: bold; color:#39383a;}

#activitys table { text-align: center; width: 96vw; margin: 0 auto; background-color: #fff;}

#activitys tr { border-bottom: 1px solid #f5f5f5; }

#activitys td { display: table-cell; height: 11vw; line-height: 11vw;}

#activitys td img { width:7vw; vertical-align: middle; }

#activitys .info_title { font-size: 4vw; font-weight: bold; color:#6c6c6c; }

#activitys .info_detail { font-size: 3.5vw; font-weight: bold; color:#39383a; }

#stu_video {width: 100vw; position: absolute; top: 35vh; display: none;}

#add_advise { display: none; width: 100%; height: 300%;
 	background-image: url('../images/advise_bg.png'); position: absolute; top: 0;
	}

#add_advise table { width: 76vw; height: 57vw; text-align: center; background-color: #fff; 
	margin: 18vw auto 0; border-radius: 6px;}
	
#add_advise textarea { padding: 0px 10px; height: 100%; margin-bottom: 0; border-radius: 0; font-size: 3.3vw; border:0; border-top: 1px solid #e7e7e7; }

#add_advise .td_btn { font-size: 4vw; color:#ffd515; font-weight:bold; padding-top: 4px;}
#add_advise .td_title {font-size: 4vw; font-weight: bold; color: #39383a;}
/*学生成绩数据弹出层的样式 结束*/
