* {padding: 0; margin: 0;}

@font-face {
	font-family: 'SourceHanSansCN Medium'; 
	src: url('./font_file/SourceHanSansCN-Medium.otf') format('otf');
	}

#head {width: 100%; height: 29vh; background-color: #fdd315;}

#head_name { padding-top: 5vh; padding-left: 7vw; font-size: 5vw; 
	font-family: 'SourceHanSansCN Medium';
	font-weight: bold;
	color: #39383a;
	}
#info_div { position: relative; }
	
#info_div img { width: 23vw; margin: 9vw; position: relative; bottom:1vh;}

#info_div div { position: absolute; top:7vh; left:43vw; }

#teacher { font-size: 5vw; font-family: 'SourceHanSansCN Medium';
	font-weight: bold;
	color: #39383a; 
	display: inline-block; margin-bottom: 0.8vh;}
	
#college { font-size: 3.75vw; color: #39383a; }

#notice { background-image: url('../images/notice_bg.png');background-repeat: no-repeat;
	background-position-y: 50%; width:98%;
	height: 6vh;
	display: table;
	margin: 0.5vh auto;
	background-size: 100%;
	}
	
#notice span {padding-top: 1%; padding-left: 10%; display: table-cell;
	vertical-align: middle;	color: #555; font-size: 3.75vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 62vw;
	}
	
#content {margin: 0 auto; 	 width: 98%;  background-color: #fff; border-radius: 4px;
	/*height:14.13vh; display: flex; align-items: center;*/
} 

/* #lession_type { padding-left:10px; } */

#lession_type .mui-control-item { color: #8d8d8d; font-size: 4vw; font-weight: bold; padding: 0 10px;}

#lession_type .mui-active { color: #39383a; border-bottom: 0; font-size: 4vw; font-weight: bold;}

#video_list { display: flex; flex-wrap: wrap; }

#video_list .video { display: flex;	width: 16vw;  margin: 3vw 01.3vw 1.5vw 2vw; height: 16vw;
	background-size:16vw; align-items: center; justify-content: center; }

#video_list .activity { text-align: center; width: 14vw; font-size: 3.3vw;font-weight: bold;}

.video_normal { background-image: url('../images/activity.png'); }

.video_active { background-image: url('../images/activity_click.png'); }

#three_part { display: none; }

#online_src img { width: 29.8vw; margin: 0 0.6vw 0 2vw; display: inline-block; }

/*老师建议 弹窗样式*/
/*老师建议 弹窗样式 结束*/